.container{
height: 100%;
width: 100%;
background: lightgray;
}
.header{
background: blue;
height: 50px;
width: 100%;

}
.logo{
background: orange;
height: 50px;
width: 25%;
float: left;

}
.menu{
height: 50px;
width: 75%;
background: purple;
float: right;
}
.banner{
	height: 150px;
	background: yellow;
	width: 100%

}
.content_part{
	background: green;
	height: 350px;
	width: 100%

}
.content_1{
background: #658EB8;
height: 100%;
width: 33.3%;
float: left;
}
.content_2{
background: #FF6300;
height: 100%;
width: 33.3%;
float: left;

}
.content_3{
background: #B84700;
height: 100%;
width: 33.3%;
float: left;
}
.footer{
background: red;
height: 50px;
width: 100%
}